html, body, #sbmap, #map {
	height: 100%;
	background-color: #000;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
}
html, body, div {
	margin: 0;
	padding: 0;		
}

/* color for other dots. team colors added via js*/
.team3, .team3 * {
	stroke: #aaa;
	fill: #aaa;
	color: #aaa;
}
	#sbmap .title {
		position: fixed;
		top: 20px;
		left: 20px;
		font-size: 25px;
		color: #aaa;
		text-shadow: 0 0 0.2em #000,0 0 0.3em #000,0 0 0.4em #000,0 0 0.5em #000,0 0 0.6em #000;
	}
	#sbmap .score {
		position: fixed;
		top: 50px;		
		font-size: 50px;
		margin: 0;
		padding: 0;
	}
	#sbmap .score.team1 {
		left: 135px;
		text-align: right;
		width: 50px;
	}
	#sbmap .score.team2 {
		left: 218px;
		text-align: left;
	}
	#chartsWrap {
		position: fixed;
		bottom: 0;
		left: 0px;
		right: 0px;
		height: 250px;
		background-color: rgba(0,0,0,0.9);
		border-top: 1px solid #444;
	}
		#charts {
			position: absolute;
			left: 80px;
			right: 35px;
			top: 0;		
			bottom: 0;
		}
			.timeline {
				top: -10px;
				left: 0;
				right: 0;
				position: absolute;
				z-index: 100;
				pointer-events: none;
			}
				.timelineAxis {
					stroke: #444;
					stroke-width: 2px;
				}
				.timeline circle {
					stroke-width:2px;
					text-shadow: 0 0 0.2em #000,0 0 0.3em #000,0 0 0.4em #000,0 0 0.5em #000,0 0 0.6em #000;
				}
				.timeline g g:not(.gameTimes) circle {
					fill: none;
				}
				.timeline text {
					stroke: none;
					opacity: 1;
					font-size: 13px;
					text-anchor: middle;
					text-shadow: 0 0 0.2em #000,0 0 0.3em #000,0 0 0.4em #000,0 0 0.5em #000,0 0 0.6em #000;
				}
				.timeline .hidden text {
					visibility: hidden;
					opacity: 0;
					transition: visibility 0s 1.5s, opacity 1.5s ease-in-out;
				}
				.timeline .active text {
					visibility: visible;
					opacity: 1;
				}
				.timeline .small circle {
					transform: scale(0.64);
				}

			.playButton {
				position: absolute;
				top: -27px;
				left: 20px;
				z-index: 1000;
				color: #fff;
				font-size: 40px;
				cursor: pointer;
			}
			.dragdealer {
				position: absolute;
				left: -25px;
				right: -25px;
				top: -30px;
				bottom: 0;
				z-index: 10;
			}	
				.dragdealer .handle {
					position: absolute;
					top: 0px;
					left: 0;
					cursor: pointer;
					width: 50px;
					bottom: 0;
				}
					.runningLine {
						position: absolute;
						width: 1px;
						background-color: rgba(255,255,255,0.5);
						top:40px;
						left: 25px;
						bottom: 0;
					}
					.dragdealer .handle .time {
						position: absolute;
						top: 0px;
						left: 0;
						right: 0;
						font-size: 13px;
						color: #aaa;
						text-align: center;
						text-shadow: 0 0 0.2em #000,0 0 0.3em #000,0 0 0.4em #000,0 0 0.5em #000;
					}
					.dragdealer .handle .handleBar {
						position: absolute;
						top: 20px;
						left: 10px;
						right: 10px;
						height: 20px;
						background: rgba(255,255,255,1);
						border-radius: 3px;
						z-index: 10000;
					}
					.dragdealer .handle.all .handleBar{
						background: #fff;
						text-shadow: none;
					}
			.chart1 {
				position: absolute;
				left: 0px;
				right: 0;
				top: 30px;
				height: 100px;
			}
			.chart2 {
				position: absolute;
				left: 0px;
				right: 0;
				top: 130px;
				height: 120px;
			}
				.chart1 svg path.line {
					stroke: none;
				}
				.chart2 svg path.line {
					fill: none;
					stroke-width: 1px;
				}
				.chartAxis {
					stroke: #444;
					stroke-width: 1px;
				}
				.chartTitle {
					position: absolute;
					top: 0;
					left: 5px;
					color: #aaa;
					font-size: 12px;
				}
.invisible {
	display: none;
}
.template {
	display: none;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: rgba(64,64,64,0.7);
}
.leaflet-popup .name {
	font-size:18px;
	color: #fff;
}
.leaflet-popup .type {
	font-size:12px;
	color: #aaa;
}
.leaflet-popup .time {
	font-size:12px;
	color: #777;
}
.leaflet-popup .text {
	font-size:12px;
	color: #fff;
}
.leaflet-popup img {
	width: 200px;
}

#map .dot {
	opacity:0.1;
	stroke: none;
}
#map .dot.team3 {
	opacity:0.1;
	fill: #aaa;
}

#map .anima {
	transform-origin: 50% 50%;
	animation: animation 1s ease-in;
	-moz-animation: animation 1s ease-in;
	-webkit-animation: animation 1s ease-in;
	-o-animation: animation 1s ease-in;
}
@keyframes animation { 0% {opacity:0;transform:scale(0);} 50% {opacity:1;transform:scale(2);} 100% {opacity:0.1;transform:scale(1);} }
@-moz-keyframes animation { 0% {opacity:0;transform:scale(0);} 50% {opacity:1;transform:scale(2);} 100% {opacity:0.1;transform:scale(1);} }
@-webkit-keyframes animation { 0% {opacity:0;transform:scale(0);} 50% {opacity:1;transform:scale(2);} 100% {opacity:0.1;transform:scale(1);} }
@-o-keyframes animation { 0% {opacity:0;transform:scale(0);} 50% {opacity:1;transform:scale(2);} 100% {opacity:0.1;transform:scale(1);} }
#map .dotsAll {
	opacity:0.7!important;
	animation: animationAll 1s ease-in;
	-moz-animation: animationAll 1s ease-in;
	-webkit-animation: animationAll 1s ease-in;
	-o-animation: animationAll 1s ease-in;
}
@-moz-keyframes animationAll { 0% {opacity:0.1;} 100% {opacity:0.7;} }
@-webkit-keyframes animationAll { 0% {opacity:0.1;} 100% {opacity:0.7;} }
@-o-keyframes animationAll { 0% {opacity:0.1;} 100% {opacity:0.7;} }
@keyframes animationAll { 0% {opacity:0.1;} 100% {opacity:0.7;} }
